@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <textarea name="UserText" rows="5" cols="50">@Model.UserText</textarea>
    <br />
    <button type="submit">Отправить</button>
    <select name="country" id="country">
        <option value="Russia">Russia</option>
        <option value="France">France</option>
        <option value="Germany">Germany</option>
        <option value="UAE">UAE</option>
        <option value="India">India</option>
    </select>
</form>