@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <textarea name="UserText" rows="5" cols="50">@Model.UserText</textarea>
    <br />
    <button type="submit">Отправить</button>
</form>